.TrelloNavbar {
  padding: 0.25rem 1rem;
  margin: 0px 20px;
  background-color: #1d2125 !important;

  .NavbarBrand {
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }

  .NavLink,
  .DropdownToggle {
    color: #9fadbc !important;
    font-size: 0.9rem;
    padding: 0.5rem 0.75rem;
    transition: color 0.3s ease;

    &:hover {
      color: #ffffff !important;
    }
  }

  .createBtn {
    background-color: #184c8f;
    border: none;
    font-size: 0.9rem;
    padding: 0.5rem 0.7rem;
    font-weight: bold;

    &:active,
    &:hover {
      background-color: #265393;
    }

    &::after {
      display: none;
    }

    .createMenu {
      border: none;
      padding: 0.5rem;
      width: 340px;
    }

    .createMenuItem {
      display: flex;
      background-color: #265393;
      align-items: flex-start;
      padding: 0.75rem;
      width: 100%;
    }

    .menuItemIcon {
      font-size: 1.25rem;
      margin-right: 1rem;
      min-width: 20px;
      display: flex;
      justify-content: start;
    }

    .menuItemContent {
      flex: 1;
      min-width: 0;
    }

    .menuItemTitle {
      font-weight: bold;
      margin-bottom: 0.25rem;
      word-wrap: break-word;
    }

    .menuItemDescription {
      font-size: 0.875rem;
      line-height: 1.2;
      word-wrap: break-word;
    }
  }

  .SearchForm {
    .FormControl {
      width: 200px;
      background-color: #22272b;
      border: 1px solid #3e4852;
      color: #ffffff;
      font-size: 0.9rem;

      &::placeholder {
        color: #9fadbc;
      }
      &:focus {
        background-color: #22272b;
        box-shadow: none;
        border-color: #579dff;
      }
    }
  }

  .NavLink {
    font-size: 15px;
    font-weight: 600;
    padding: 5px 10px;
  }

  .NavDropdownToggle {
    margin-right: 10px;
    background: none;
    box-shadow: none;
    border: none;

    > a {
      color: #9fadbc !important;
      font-size: 0.9rem;
      padding: 0.5rem 0.75rem;
      transition: color 0.3s ease;
      background: none;
      box-shadow: none;
      border: none;

      &:hover {
        color: #ffffff !important;
      }
    }
  }

  .NavDropdown {
    margin-right: 5px;
    background: none;
    box-shadow: none;
    border: none;
    color: #9fadbc !important;
    font-weight: 500;

    > a {
      font-size: 0.9rem;
      padding: 0.5rem 0.75rem;
      transition: color 0.3s ease;
      background: none;
      box-shadow: none;
      border: none;

      &:hover {
        color: #ffffff !important;
      }
    }
  }

  @media (max-width: 1060px) {
    .SearchForm,
    .CreateBtn {
      display: none;
    }
  }
}

.dropdownMenu {
  width: 304px;

  .iconStyle {
    width: 30px;
  }
}

.profileDropdown {
  .dropdownToggle {
    background: none;
    border: none;
    box-shadow: none;
    padding: 5px;
    margin: 0px 5px;

    &::after {
      display: none;
    }

    &:hover,
    &:focus,
    &:active {
      box-shadow: none;
      background: none;

      .userIcon {
        color: #f8f8f8;
        font-size: 20px;
      }
    }

    .userIcon {
      color: #a4a4a4;
      font-size: 20px;
    }
  }

  .InneruserIcon {
    color: #a4a4a4;
    font-size: 35px;
  }
}

.regDropdown {
  .regdropdownToggle {
    background: none;
    border: none;
    box-shadow: none;
    padding: 5px;
    margin: 0px 5px;

    &::after {
      display: none;
    }

    &:hover,
    &:focus,
    &:active {
      box-shadow: none;
      background: none;

      .regIcon {
        color: #f8f8f8;
        font-size: 20px;
      }
    }

    .regIcon {
      color: #a4a4a4;
      font-size: 20px;
    }
  }
}

.queDropdown {
  .quedropdownToggle {
    background: none;
    border: none;
    box-shadow: none;
    padding: 5px;
    margin: 0px 5px;

    &::after {
      display: none;
    }

    &:hover,
    &:focus,
    &:active {
      box-shadow: none;
      background: none;

      .queIcon {
        color: #f8f8f8;
        font-size: 20px;
      }
    }

    .queIcon {
      color: #a4a4a4;
      font-size: 20px;
    }
  }
}

.BottomSheet {
  --rsbs-bg: #282e33;

  --rsbs-max-w: 400px;
  --rsbs-ml: auto;
  --rsbs-mr: auto;
}
